---
http_interactions:
- request:
    method: post
    uri: http://api.dmcloud.net/api
    body: ! '{"call":"media.count","args":{},"auth":"4cad8cc994a6f66a9d000001:4a02d0ba865c103f40bd1163661ba5c9"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Response-Time:
      - 0.411 ms
      X-Dc-Node:
      - www-01
    body: ! '{"error": {"message": "''Media'' object has no attribute ''count''",
      "code": 620}}'
  recorded_at: Fri, 10 Feb 2012 17:32:57 GMT
- request:
    method: post
    uri: http://api.dmcloud.net/api
    body: ! '{"call":"media.count","args":{},"auth":"4cad8cc994a6f66a9d000001:4a02d0ba865c103f40bd1163661ba5c9"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Response-Time:
      - 0.411 ms
      X-Dc-Node:
      - www-01
    body: ! '{"error": {"message": "''Media'' object has no attribute ''count''",
      "code": 620}}'
  recorded_at: Fri, 10 Feb 2012 17:32:57 GMT
recorded_with: VCR 2.0.0.rc1
